.bt-about {
  color: var(--bw-navy);
  font-family: var(--font-body);
  font-size: 18px;
  font-weight: 400;
  line-height: var(--lh-body);

  h3 {
    margin: 30px 0 15px;
    color: var(--bw-teal);
    font-family: var(--font-display);
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1;

    &.two-slot {
      font-size: 32px;
      margin: 10px 0;
    }
  }

  p {
    margin-bottom: 10px;
  }
}
